USE [BD_FISIO21]
GO
/****** Object:  Table [dbo].[VALORIZACION]    Script Date: 24/09/2024 12:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORIZACION](
	[id_valorizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_servicio] [int] NOT NULL,
	[id_programa] [int] NOT NULL,
	[valorizacion] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_valorizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VALORIZACION]  WITH CHECK ADD FOREIGN KEY([id_programa])
REFERENCES [dbo].[PROGRAMAS] ([id_programa])
GO
ALTER TABLE [dbo].[VALORIZACION]  WITH CHECK ADD FOREIGN KEY([id_servicio])
REFERENCES [dbo].[SERVICIOS] ([id_servicio])
GO
